# fly.toml app configuration file generated for jour-de-marche-api on 2025-11-28T22:38:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'jour-de-marche-api'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  NODE_ENV = 'production'
  PORT = '3000'
  HOST = '0.0.0.0'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
